.voltar{
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

#bntVoltar{
  font-size: 2rem;
  color: #00a7e2;
}

#bntVoltar:hover{
 color: blue;
 transform: scale(1.20);
}

.entradaCard h3 {
  font-family: "Press Start 2P", cursive;
  color: #00a7e2;
}

#bntSubmitEditarCard {
  margin: 1rem;
  font-size: 3rem;
  color: #00a7e2;
  cursor: pointer;
  border: none;
  background-color: #f3f3f3;
}

#bntSubmitEditarCard:hover {
  color: blue;
  transform: scale(1.20);
}
