.entradaCard {
  margin: 1rem auto;
  background: #f3f3f3;
  padding: 1rem;
  min-width: 300px;
  max-width: 500px;
  border-radius: 1rem;
  text-align: center;
  border-top: 0.4rem solid #00a7e2;
  border-bottom: 0.4rem solid #00a7e2;
  box-shadow: 2px 3px 20px 6px rgb(32 33 36 / 20%);
}

#tituloCard,
#imagemUrl,
#siteReferencia,
#textoGrande,
#categoria {
  width: 90%;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  margin: 5px auto;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 3px 20px 6px rgb(32 33 36 / 10%);
}

#tituloCard:hover {
  outline: 3px solid #00a7e2;
  outline-offset: -2px;
}

#imagemUrl:hover {
  outline: 3px solid #00a7e2;
  outline-offset: -2px;
}

#siteReferencia:hover {
  outline: 3px solid #00a7e2;
  outline-offset: -2px;
}

#textoGrande:hover {
  outline: 3px solid #00a7e2;
  outline-offset: -2px;
}

#categoria:hover {
  outline: 3px solid #00a7e2;
  outline-offset: -2px;
}

#bntSubmitNovoCard {
  margin: 1rem;
  font-size: 3rem;
  color: rgb(77, 141, 77);
  cursor: pointer;
  border: none;
  background-color: #f3f3f3;
}

#bntSubmitNovoCard:hover {
  color: darkgreen;
}
