.entradaCard {
  margin: 150px auto 30px auto;
  background: #f3f3f3;
  padding: 30px;
  width: 350px;
  border-radius: 1rem;
  text-align: center;
  border-top: 0.4rem solid #00a7e2;
  border-bottom: 0.4rem solid #00a7e2;
  box-shadow: 2px 3px 20px 6px rgb(32 33 36 / 20%);
}

#tituloCard,
#imagemUrl,
#siteReferencia,
#textoGrande,
#categoria {
  width: 90%;
  font-size: 1rem;
  border: none;
  background: #ffffff;
  border-radius: 30px;
  margin: 5px auto;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

#tituloCard:hover{
  border: 2px solid #00a7e2;
}

#imagemUrl:hover{
  border: 2px solid #00a7e2;
}

#siteReferencia:hover{
  border: 2px solid #00a7e2;
}

#textoGrande:hover{
  border: 2px solid #00a7e2;
}

#bntSubmitNovoCard {
  font-size: 3rem;
  color: rgb(77, 141, 77);
  cursor: pointer;
  border: none;
  background-color: #f3f3f3;
  margin: 30px;
}

#bntSubmitNovoCard:hover {
  color: darkgreen;
}
