.typewriter h1 {
  max-width: 200px;
  color: black;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.2rem solid black;
  white-space: nowrap;
  margin: auto;
  letter-spacing: 0.1px;
  animation: typing 3.5s steps(120, end) alternate infinite,
    blink-caret 0.5s step-end infinite, rotateText 3.5s ease alternate infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg) scale(1.5) translateX(10px) skewY(10deg);
  }
  75% {
    transform: rotate(-10deg) scale(0.8) translateX(-10px) skewY(-10deg);
  }
  100% {
    transform: rotate(5deg) scale(1.2) translateX(5px) skewY(5deg);
  }
}

.categorias {
  margin: 150px auto 30px auto;
  background: #f3f3f3;
  padding: 30px;
  width: 350px;
  border-radius: 1rem;
  border-top: 0.4rem solid #00a7e2;
  border-bottom: 0.4rem solid #00a7e2;
  box-shadow: 2px 3px 20px 6px rgb(32 33 36 / 20%);
}

.categoria {
  background: #ffffff;
  border-radius: 30px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.entradaCategoria {
  background: white;
  border-radius: 30px;
  margin: 8px 0;
  padding: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.editarRemover {
  float: right;
}

.iconeEditarCategoria {
  font-size: 1.5rem;
  color: rgb(96, 96, 253);
  cursor: pointer;
}
.iconeEditarCategoria:hover{
  color: blue;
}

.iconeExcluirCategoria {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: rgb(255, 97, 97);
  cursor: pointer;
}
.iconeExcluirCategoria:hover{
  color: red;
}

.irParaTopo {
  color: #0042be; /* alterar cor do botão */
  position: fixed;
  bottom: 8%; /* posição vertical: quanto maior, mais para cima */
  right: 90%; /* posição horizontal: quanto maior, mais para esquerda */
  font-size: 2rem; /*tamanho do botão*/
}
.irParaTopo:active,
.irParaTopo:focus,
.irParaTopo:hover {
  text-decoration: none;
  color: blue; /* alterar cor do botão quando o mouse estiver em cima ou mobile */
  font-size: 2.5rem;
}
