#nomeCategoria{
    width: 78%;
	padding: 1rem;
	border: none;
	border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
}

#nomeCategoria:hover{
    outline: 3px solid #00a7e2;
    outline-offset: -2px;
}

#bntSubmit{
    margin: auto;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: inherit;
}

#bntIconFormSubmit{
    color: rgb(77, 141, 77);
    font-size: 2rem;
    cursor: pointer;
}

#bntIconFormSubmit:hover {
    color: darkgreen;
}