.conteudoFooter {
  min-width: 400px;
  background-color: rgb(131, 131, 131);
  color: white;
  width: 100vw;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

small > a {
  color: inherit;
}
